
body {
    margin: 0%;
    background-color: black;
}
.imagem{
    width: 100%;
}
.navbar{
    background-color: rgb(89, 95, 122);
    padding: 10px; /* Aumenta o tamanho interno da caixa */
}
.navbar ul{
    display: flex;
    margin: 0%;
}
.link{
    margin-right: 40px;
    list-style: none; /* Tira o estilo da lista */
    text-transform: uppercase; /* Deixa a letra maiúscula */
   
}
a{
    color: aliceblue;
    font-weight: bold; /* Muda fonte para negrito */
    cursor: pointer; /* Cria uma 'mãozina' ao passar o mouse no link */
    text-decoration: none; /* Retira todos os estilos do link */

}
h1, p, footer{
    color: aliceblue;
}
.sobre {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    text-align: center;
}